/CLI/bin/Debug/net6.0/CLI.dll
/CLI/bin/Debug/net6.0/CLI.exe
/CLI/bin/Debug/net6.0/CLI.pdb
/CLI/bin/Debug/net6.0/CLI.runtimeconfig.json
/CLI/bin/Debug/net6.0/cs/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/de/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/es/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/fr/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/it/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/ja/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/ko/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/pl/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/pt-BR/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/ru/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/System.CommandLine.dll
/CLI/bin/Debug/net6.0/tr/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/zh-Hans/System.CommandLine.resources.dll
/CLI/bin/Debug/net6.0/zh-Hant/System.CommandLine.resources.dll
/CLI/obj/CLI.csproj.nuget.g.targets
/CLI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CLI/obj/Debug/net6.0/_IsIncrementalBuild
/CLI/obj/Debug/net6.0/apphost.exe
/CLI/obj/Debug/net6.0/CLI.AssemblyInfo.cs
/CLI/obj/Debug/net6.0/CLI.AssemblyInfoInputs.cache
/CLI/obj/Debug/net6.0/CLI.assets.cache
/CLI/obj/Debug/net6.0/CLI.csproj.AssemblyReference.cache
/CLI/obj/Debug/net6.0/CLI.csproj.BuildWithSkipAnalyzers
/CLI/obj/Debug/net6.0/CLI.csproj.CopyComplete
/CLI/obj/Debug/net6.0/CLI.csproj.CoreCompileInputs.cache
/CLI/obj/Debug/net6.0/CLI.csproj.FileListAbsolute.txt
/CLI/obj/Debug/net6.0/CLI.dll
/CLI/obj/Debug/net6.0/CLI.GeneratedMSBuildEditorConfig.editorconfig
/CLI/obj/Debug/net6.0/CLI.genruntimeconfig.cache
/CLI/obj/Debug/net6.0/CLI.GlobalUsings.g.cs
/CLI/obj/Debug/net6.0/CLI.pdb
/CLI/obj/Debug/net6.0/PublishOutputs.5fcf7ed541.txt
/CLI/obj/Debug/net6.0/ref/CLI.dll
/CLI/obj/Debug/net6.0/refint/CLI.dll
/CLI/obj/project.assets.json
/CLI/obj/project.nuget.cache
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/CLI.AssemblyInfo.cs
/obj/Debug/net7.0/CLI.AssemblyInfoInputs.cache
/obj/Debug/net7.0/CLI.assets.cache
/obj/Debug/net7.0/CLI.csproj.AssemblyReference.cache
/obj/Debug/net7.0/CLI.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/CLI.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/CLI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/CLI.GlobalUsings.g.cs
/obj/project.assets.json
/obj/project.nuget.cache
/Program.cs
/publish/CLI.deps.json
/publish/CLI.dll
/publish/CLI.exe
/publish/CLI.pdb
/publish/cs/System.CommandLine.resources.dll
/publish/de/System.CommandLine.resources.dll
/publish/es/System.CommandLine.resources.dll
/publish/fr/System.CommandLine.resources.dll
/publish/it/System.CommandLine.resources.dll
/publish/ja/System.CommandLine.resources.dll
/publish/ko/System.CommandLine.resources.dll
/publish/pl/System.CommandLine.resources.dll
/publish/pt-BR/System.CommandLine.resources.dll
/publish/ru/System.CommandLine.resources.dll
/publish/System.CommandLine.dll
/publish/tr/System.CommandLine.resources.dll
/publish/zh-Hans/System.CommandLine.resources.dll
/publish/zh-Hant/System.CommandLine.resources.dll
